.AssignFunctionalityTable-family-tree-container {
  font-family: Arial, sans-serif;
  width: 500px;
  height: fit-content;
  max-height: 400px;
  overflow-y: scroll;
  scrollbar-width: none;
  padding: 10px;
}

.AssignFunctionalityTable-family-node {
  padding-left: 20px;
  margin-top: 10px;
  position: relative;
}

.AssignFunctionalityTable-family-node::before {
  content: '';
  position: absolute;
  left: -10px;
  top: 10px;
  bottom: -10px;
  width: 1px;
  background: #ccc;
}

.AssignFunctionalityTable-family-person {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.AssignFunctionalityTable-family-person .AssignFunctionalityTable-expand-btn {
  margin-left: 8px;
  padding: 4px 8px;
  background-color: var(--button-color);
  color: white;
  border: 1px solid var(--button-color);
  cursor: pointer;
  font-size: 0.9em;
}

.AssignFunctionalityTable-family-person .AssignFunctionalityTable-expand-btn:hover {
  background-color:var(--button-hover-color);
  color: var(--button-color);
}

.AssignFunctionalityTable-children {
  margin-left: 20px;
  padding-left: 15px;
}

.AssignFunctionalityTable-child {
  margin-left: 20px;
  padding: 4px 0;
  font-size: 0.9em;
}
