:root {
  --sideBar-bg-color: #007973;
  --upperBar-bg-color: #00968f;
  --button-bg-color: #00968f;
  --button-color: #00c9c0;
  --background-color: #e3fffe;
  --heading-font: 16px;
  --font-size: 14px;
  --button-hover-border-color: #00c9c0;
  --button-hover-text-color: #00c9c0;
  --button-hover-background-color: white;
  --input-box-padding: 5px;
}

.sSIRetunReturnItemBtn-entry {
  background-color: var(--background-color);
  padding: 30px;
  width: 100%;
  margin: 20px auto;
  border-radius: 8px;
  float: left;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sSIRetunReturnItemBtn-title {
  font-size: var(--heading-font);
  margin-bottom: 20px;
}



.sSIRetunReturnItemBtn-form-section {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.sSIRetunReturnItemBtn-form-section label {
  font-size: var(--font-size);
  margin-right: 10px;
}






.ssi-return-return-input[type="date"],
.ssi-return-return-input[type="text"] {
  padding: var(--input-box-padding);
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: var(--font-size);
}

.sSIRetunReturnItemBtn-back-btn {
  margin-left: auto;
  background-color: var(--button-color);
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.sSIRetunReturnItemBtn-table-section {
  margin-top: 20px;
  border: 1px solid var(--button-bg-color);
  border-radius: 5px;
  overflow: hidden;
}

.sSIRetunReturnItemBtn-table-header {
  display: flex;
  justify-content: space-between;
  background-color: #f5f5f5;
  padding: 10px 60px;
  font-size: var(--heading-font);
}

.sSIRetunReturnItemBtn-table-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  gap: 5px;
  background-color: white;
}

.sSIRetunReturnItemBtn-delete-btn {
  background-color: #e74c3c;
  border: 1px solid #e74c3c;
  color: white;
  margin-left: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: var(--font-size);
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
  padding: 5px 5px;
}

.sSIRetunReturnItemBtn-delete-btn:hover {
  border: 1px solid var(--button-hover-border-color);
  color: var(--button-hover-text-color);
  background-color: var(--button-hover-background-color);
}

.sSIRetunReturnItemBtn-add-btn {
  background-color: var(--button-bg-color);
  color: white;
  border: none;
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
}

.ssi-return-return-input[type="number"] {
  padding: var(--input-box-padding);
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
}

.sSIRetunReturnItemBtn-remark {
  display: flex;
  justify-content:left;
  float: right;
}

.sSIRetunReturnItemBtn-remark-section {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items:left;
  background-color: #f5f5f5;
  padding: 10px;
  width: 500px;
}

.sSIRetunReturnItemBtn-remark-section label {
  margin-right: 10px;
}

.sSIRetunReturnItemBtn-button-section {
  margin-top: 20px;
  display: flex;
  float: right;
  gap: 10px;
}

.sSIRetunReturnItemBtn-save-button {
  background-color: var(--button-color);
  border: 1px solid var(--button-hover-border-color);
  color: white;
  margin-left: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: var(--font-size);
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
  padding: 5px 5px;
}

.sSIRetunReturnItemBtn-save-button:hover {
  border: 1px solid var(--button-hover-border-color);
  color: var(--button-hover-text-color);
  background-color: var(--button-hover-background-color);
}

.sSIRetunReturnItemBtn-discard-button {
  background-color: #e74c3c;
  border: 1px solid #e74c3c;
  color: white;
  margin-left: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: var(--font-size);
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
  padding: 5px 5px;
}

.sSIRetunReturnItemBtn-discard-button:hover {
  border: 1px solid var(--button-hover-border-color);
  color: var(--button-hover-text-color);
  background-color: var(--button-hover-background-color);
}








.sSIRetunReturnItemBtn-date-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  gap: 10px;
}

.table-container {
  margin-top: 20px;
  overflow-x: auto;
}

.sSIReturnItem-table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
}

.sSIReturnItem-table th,
.sSIReturnItem-table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

.sSIReturnItem-table th {
  background-color: var(--button-bg-color);
  color: white;
}

.sSIReturnItem-table input,
.sSIReturnItem-table select {
  width: 90%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
