/* neha-OT-BookingList-14-9-24 */
.booking-list-container {
  height: 100vh; 
  width: 100vw;  
  background-color:var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px; 
  box-sizing: border-box; 
  font-size: var(--font-size);
}

/* Header section with the button */
.booking-list-booking-header {
  width: 100%;
  display: flex;
  justify-content: flex-start; 
  margin-bottom: 20px; 
}

/* New OT Booking button */
.booking-list-btn-btn-success {
  background-color:var(--button-color);
  color: white;
  padding: 8px 12px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

/* New OT Booking button */
.booking-list-btn-btn-success:hover{
  background-color: var(--button-hover-background-color);
  color: var( --button-hover-text-color);
  border: 1px solid var(--button-hover-border-color);
}

/* Search bar container */
.booking-list-patient-search-dropdown {
  width: 100%;
  display: flex;
  justify-content: flex-start; 
  margin-bottom: 10px;
}

.booking-list-patient-search-dropdown input {
  width: 300px;
  padding: 2px;
  border: 1px solid #ccc;
  border-radius: 5px;
  /* margin-left: 20px; */
}



/* Action buttons in the table */
.booklist-action-btn {
  color: white;
  background-color: var(--button-color);
  text-align: center;
  padding: 5px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
}

/* Modal overlay */
.booking-list-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1050; /* Higher z-index to be above other content */
}

/* Modal content */
.booking-list-modal-content {
  background-color: white;
  padding: 5px;
  border-radius: 8px;
  width: 700px;
  position: relative;
  display: flex;
  flex-direction: column;
  
}



/* Form styling inside the modal */
.booking-list-modal-content form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.booking-list-modal-content label {
  font-weight: bold;
  margin-bottom: 5px;
  margin-right: 20px;
}

.booking-list-modal-content input, 
.booking-list-modal-content select {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.booking-list-modal-content input[type="checkbox"] {
  width: auto;
}

.booking-list-modal-content button[type="submit"] {
  background-color:var(--button-color);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}


.ot-filtersection {
  display: flex;
  width: 100%;
  /* justify-content: space-between; */
  padding: 1px;
  background-color: #f8f9fa;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.ot-datefilter {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1px;
}

.ot-daterange label {
  margin-right: 8px;
  font-size: 14px;
  color: #333;
}

.ot-input {
  padding: 5px 10px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  margin-right: 10px;
}

.ot-bookinglist-searchsection {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  margin-top: 10px;

}

.ot-bookinglist-search-input {
  padding: 5px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  font-size: 14px;
  width: 200px;
  
}

.ot-bookinglist-print-button {
  color: white;
  background-color: var(--button-color);
  text-align: center;
  padding: 5px;
  text-decoration: none;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  margin-right: 200px;
}

.ot-bookinglist-print-button:hover {
  background-color:var(--button-hover-background-color);
    color: var(--button-hover-text-color);
    border: 1px solid var(--button-hover-border-color);
}

.booking-list-patient-search-dropdown select{
  width: 150px;
  /* height: 30px; */
  margin-left: 15px;

}

.booking-list-patient-search-dropdown label{
  margin-left: 10px;
  width: 150px;
}
