/* HospitalHeader.css */

<<<<<<< HEAD

.hospital-header-container-module{
  background-color:var(--background-color) ;
}

.pharmacy-header-module {
  background-color: white;
  color: #3598dc;
  padding: 10px;
  font-size: 16px;
  width: 100%;
}

.hospital-nav-list-module {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
  overflow-x: auto;
  gap: 10px; /* Add 10px space between flex items */
}

.hospital-nav-item-module {
text-decoration: none;
color: black;
font-size: 16px;
padding: 5px;
border-radius: 5px;
}

.hospital-nav-item-module:hover, 
.hospital-nav-item-module.active {
  background-color:var(--button-bg-color);
  color: white;
}

/* Sub-navigation Styles */
.pharmacy-sub-nav-module {
  margin-top: 10px;
  margin-left: 10px;
  background-color: white;
  padding: 0;
  margin-right: 10px;

  gap: 10px;
  /* border-radius: 5px; */
}

.pharmacy-sub-nav-module ul {
  list-style-type: none;
  display: flex;
  padding: 0;
  gap: 10px;
  border-radius: 5px;
  margin: 0;
}


.pharmacy-sub-nav-module li {
  padding: 10px 15px;
  cursor: pointer;
  color: black;
}

/* .pharmacy-sub-nav-module li:hover, 
.pharmacy-sub-nav-module li.active {
  background-color: #bbdefb;
}
 */




/* Responsive Design */
@media (max-width: 768px) {
  .hospital-nav-list-module {
    flex-direction: column;
  }

  .hospital-nav-item-module {
    padding: 10px;
    font-size: 14px;
  }

  .pharmacy-sub-nav-module ul {
    flex-direction: column;
  }

  .pharmacy-sub-nav-module li {
    padding: 10px;
    font-size: 16px;
  }
}


/*  */
=======
>>>>>>> c950b44ed9532e386a605e9fa68569d55b1725dd
.hospital-header-container-module {
  width: 100%;
  margin: 0 auto;
}

.hospital-nav-module {
  background-color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  height: 10%;
}
<<<<<<< HEAD
.hospital-nav-item-module:hover{
  color: var(--button-color);
  background-color: white;

} 
.hospital-nav-item-module.active {
  background-color: var(--button-bg-color);
  color: white;
}

/* Sub-navigation Styles */
.pharmacy-sub-nav-module {
  /* margin-top: 10px; */
  background-color: white;
  /* padding: 0; */
  gap: 10px;
}

.pharmacy-sub-nav-module ul {
  list-style-type: none;
  display: flex;
  /* padding: 0; */
  gap: 10px;
  border-radius: 5px;
  /* margin: 0; */
}

.pharmacy-sub-nav-module li {
  padding: 10px 10px;
  cursor: pointer;
=======

.hospital-nav-item-module {
>>>>>>> c950b44ed9532e386a605e9fa68569d55b1725dd
  color: black;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid transparent;
  cursor: pointer;
  text-decoration: none;
  margin-left: 10px;
  display: inline-flex;
  align-items: center;
}

.hospital-nav-item-module:hover {
  border: 1px solid var(--button-hover-border-color);
  color: var(--button-hover-text-color);
  background-color: var(--button-hover-background-color);
}

.hospital-nav-item-module.active {
  border: 1px solid var(--button-bg-color);
  color: white;
  background-color: var(--button-bg-color);
}

 /*  */
 .pharmacy-sub-nav-module {
  display: flex; /* Use flexbox for horizontal layout */
  margin: 10px;
  flex-direction: column; /* Stack sub-navigation items vertically */
  margin-bottom: 20px; /* Add spacing below the sub-nav */
}

.pharmacy-sub-nav-item-module {
  display: inline-block; /* Make items inline for horizontal layout */
  margin-right: 20px; /* Space between items */
  position: relative; /* Positioning for the active line */
  cursor: pointer; /* Change cursor on hover */
}

.pharmacy-sub-nav-item-module.active::after {
  content: ''; /* Empty content for the line */
  position: absolute;
  bottom: -5px; /* Position below the item */
  left: 0; /* Align to the left */
  width: 100%; /* Full width of the item */
  height: 3px; /* Height of the active line */
  background-color: var(--button-bg-color); /* Color of the active line */
  transition: background-color 0.3s; /* Smooth transition for the line color */
}



/* Optional: Style for NavLink to avoid text decoration */
.pharmacy-sub-nav-item-module a {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit color from the parent */
}

