.homehealthnavbar{
  background-color: white;
  padding: 10px;
}
.homehealthnav-link{
  background-color: var(--button-bg-color);
  padding: 10px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}