.internal-consumption-details {
    width: 100%;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .internal-consumption-details__header {
    display: flex;
    justify-content: start;
    align-items: center;
  }
  
  .internal-consumption-details__hospital-info-h1 {
    font-size: 24px;
    align-items: center;
  }
  
  
  .internal-consumption-details__body {
    margin-bottom: 20px;
  }
  
  .internal-consumption-details__info {
    margin-bottom: 10px;
  }
  
  .internal-consumption-details__table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  .internal-consumption-details__table th,
  .internal-consumption-details__table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .internal-consumption-details__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .internal-consumption-details__print-button {
    padding: 5px 10px;
    background-color: var(--button-color);
    color: #fff;
    border: 1px solid ;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .internal-consumption-details__print-button:hover {
    background-color: var(--button-hover-color);
    color: var(--button-color);
  }
  .internal-consumption-details__footer-subdiv
  {
    display: flex;
    justify-content: end;
    align-items: end;
    flex-direction: column;
  }
  