.requisition-details {
    width: 100%;
    padding: 20px;
    font-family: Arial, sans-serif;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
  }
  
  .requisition-details__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .requisition-details__store-info p {
    margin: 0;
  }
  
  .requisition-details__qr-date {
    display: flex;
    align-items: center;
  }
  
  .requisition-details__qr img {
    width: 50px;
    height: 50px;
    margin-right: 20px;
  }
  
  .requisition-details__date {
    font-size: 14px;
  }
  
  .requisition-details__info {
    margin-bottom: 20px;
  }
  
  .requisition-details__info p {
    margin: 0;
    font-weight: bold;
  }
  
  .requisition-details__table-section {
    margin-bottom: 20px;
  }
  
  .requisition-details__table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  .requisition-details__table th,
  .requisition-details__table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
  }
  
  .requisition-details__table th {
    background-color: #f8f8f8;
  }
  
  .requisition-details__table td a {
    color: blue;
    text-decoration: underline;
  }
  
  .requisition-details__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .requisition-details__requested-by p {
    margin: 0;
  }
  
  .requisition-details__actions {
    text-align: right;
  }
  
  .requisition-details__print-button {
    padding: 5px 10px;
    background-color: var(--button-color);
    color: white;
    border: 1px solid var(--button-color);
    cursor: pointer;
    border-radius: 5px;
  }
  
  .requisition-details__print-button:hover {
    background-color: var(--button-hover-color);
    color: var(--button-color);
  }
  